html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 50px;
  font-family: "Roboto", sans-serif;
  background: rgb(2, 0, 36) no-repeat center center fixed;
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(43, 62, 80, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.thumbnail {
  box-shadow: 7px 7px 10px 0px rgba(43, 62, 83, 1);
}

h1 {
  font-size: 28px;
}

a {
  color: #00b7ff;
}

#nav-links {
  text-shadow: 1px 1px 1px #000;
}

#navbar-inverse {
  font-size: 14px;
}

.navbar-brand {
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
}

.btn-toolbar {
  display: -webkit-inline-box;
}

#btnGroup {
  margin-right: 5px;
}

#inputTaskName {
  height: 30px;
  width: 165px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#inputTaskDesc {
  height: 30px;
  width: 165px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#inputTaskName:focus {
  width: 500px;
}

#inputTaskDesc:focus {
  width: 500px;
}
