extends layout

block content
	.container

		h1.
			Task List
		div
			each task, i in tasklist
				.thumbnail
					.caption
						h3 
							task.task= task.task
						p
							task.task= task.description
						.btn-toolbar(role='toolbar', aria-label='Toolbar of buttons')
									button.btn.btn-primary#btnGroup(type="button")
										i.fas.fa-edit.fa-fw.fa-lg(aria-hidden="true")
										| Update
									button.btn.btn-danger#btnGroup(type="button")
										i.fas.fa-trash-alt.fa-fw.fa-lg(aria-hidden="true")
										| Delete

			//- Suedo code for update / delete functionality
			//- tr
			//-     td
			//-     td
			//-     td
			//-       form method=get action=/delete/deleteTask
			//-       button delete
			//-     td
			//-       form method=get action=/edit/updateTask
			//-       button delete