extends layout

block content
  .container
    
    h1.
      Task List
    ul
      each task, i in tasklist
        li
          task.task= task.description
      //- Suedo code for update / delete functionality
      //- tr
      //-     td
      //-     td
      //-     td
      //-       form method=get action=/delete/deleteTask
      //-       button delete
      //-     td
      //-       form method=get action=/edit/updateTask
      //-       button delete